@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@layer utilities {
  .font-playfair {
    font-family: "Playfair Display", serif;
  }
  .font-manrope {
    font-family: "Manrope", sans-serif;
  }
}
@import "tailwindcss";
@plugin "daisyui";
